<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cora">

  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find cora_description)/urdf/macros.xacro" />

  <!-- Attach hydrodynamics plugin -->
  <xacro:usv_dynamics_gazebo name="cora_dynamics_plugin" />

  <!-- Robot mesh -->
  <xacro:include filename="$(find cora_description)/urdf/cora.urdf.xacro" />

  <!-- Note: this is only used for some sensors that do not correctly use the 
  robotNamespace parameter -->
  <xacro:arg name="namespace" default="cora"/>
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Thrusters -->
  <xacro:arg name="thruster_namespace" default="thrusters/"/>
  <xacro:property name="thruster_namespace" value="$(arg thruster_namespace)" scope="global" />
  <xacro:include filename="$(find cora_description)/urdf/thrusters.xacro" />

</robot>
