<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro  name="robot_gazebo">
    <!-- Include macros for dynamics plugins -->
    <xacro:include filename="$(find cora_description)/urdf/macros.xacro" />

    <!-- Defines the base vehicle -->
    <xacro:include filename="$(find cora_description)/urdf/cora.urdf.xacro" />

    <!-- Attach hydrodynamics plugin -->
    <xacro:usv_dynamics_gazebo name="cora_dynamics_plugin"
        width="3.58" length="12.21"/>
  </xacro:macro>

</robot>
