<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cora">

  <link name="base_link">
  </link>

  <joint name="dummy_joint" type="fixed">
    <parent link="base_link"/>
    <child link="dummy_link"/>
  </joint>

  <link name="dummy_link">
    <visual>
      <geometry>
        <mesh filename="package://cora_description/models/base/meshes/base.dae"/>
      </geometry>
    </visual>

    <collision name="collision">
      <origin xyz="0 0 0.262063" rpy="0 0 0" />
      <geometry>
        <box size="12.21 3.58 3.53" />
      </geometry>
    </collision>

    <!-- Numbers are from MeshLab -->
    <inertial>
      <origin xyz="0.461760 0 0.262063" rpy="0 0 0" />
      <mass value="50.964"/>
      <inertia ixx="71.068199" ixy="0.0" ixz="-25.944702"
                                iyy="396.183960" iyz="0.0"
                                                 izz="418.985809"/>
    </inertial>
  </link>

</robot>
